# Compiled Object files
*.o
*.ko
*.obj
*.elf

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out

# C++ specific files
*.hpp
*.cc
*.h
*.cxx
*.hxx

# Build directories
build/
bin/

.vscode
*.txt